<div data-role="header" data-position="fixed">
	<h1>
		<?php if( !isset($hideBackButton) ): ?>
			<a href='#' class='ui-btn-left' data-icon='arrow-l' 
			onclick="history.back(); return false"
			data-role="button">Volver</a>
		<?php endif; ?>
<!-- 			<a href="#" data-icon="home" data-role="button" data-iconpos="notext"></a> -->			
 			<?php echo $this->Html->image('sweden-flag.png', array('alt' => 'Sweden Flag', 'width'=>'20px'))?> 

<!--  			<?php echo $this->Util->uppFirst( $content );?> -->
			<?php echo "Swedinka"; ?>
			<?php echo $this->Html->image('spanish_flag.gif', array('alt' => 'Spanish Flag', 'width'=>'20px'))?>

		<?php
		echo $this->Html->link('Inicio', 
				array('controller'=>'pages', 'action'=>'display'), 
				array('class'=>'ui-btn-right', 'data-role'=>'button',
					'data-icon'=>'home', 'data-iconpos'=>'left')
		);
		?>
	</h1>
</div><!-- /header -->
