li[data-role="list-divider"], li.centrado, li.centrado a{
	margin: 0 auto !important;
	text-align: center !important;
}

#footer .ui-link{
	text-decoration: none !important;
	color: #ffffff !important;
}

.grande{
	font-size: 120%;
	font-weight: bold;
	color: #CC0A37;
}
