<div class="meanings index">
	<h2><?php echo __('Meanings'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('word_id'); ?></th>
			<th><?php echo $this->Paginator->sort('meaning'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($meanings as $meaning): ?>
	<tr>
		<td><?php echo h($meaning['Meaning']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($meaning['Word']['word'], array('controller' => 'words', 'action' => 'view', $meaning['Word']['id'])); ?>
		</td>
		<td><?php echo h($meaning['Meaning']['meaning']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $meaning['Meaning']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $meaning['Meaning']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $meaning['Meaning']['id']), null, __('Are you sure you want to delete # %s?', $meaning['Meaning']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Meaning'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Words'), array('controller' => 'words', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Word'), array('controller' => 'words', 'action' => 'add')); ?> </li>
	</ul>
</div>
