<div data-role="page" data-add-back-btn="true" data-transition="pop" data-ajax="false">
	<?php echo $this->element('header', array('content'=>'Error: Existe')); ?>
	<div data-role="content">	
		<ul data-role="listview" data-filter="false" data-inset="true">
			<li data-role="list-divider">ERROR!! La palabra ya existe</li>
			<!-- <li>
				<?php echo $this->Html->link(
			    "Añadir otra palabra",
			    array('controller' => 'words', 'action' => 'add' )
			    );?>
			</li> -->
			<li>
				<?php echo $this->Html->link(
			    "Ir al inicio",
			    array('controller' => 'pages', 'action' => 'display', 'home' )
			    );?>
			</li>
		</ul>
	</div>
	<?php echo $this->element('footer'); ?>		
</div>