<div class="adverbs index">
	<h2><?php echo __('Adverbs'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('adverb'); ?></th>
			<th><?php echo $this->Paginator->sort('comments'); ?></th>
			<th><?php echo $this->Paginator->sort('meaning'); ?></th>
			<th><?php echo $this->Paginator->sort('examples'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($adverbs as $adverb): ?>
	<tr>
		<td><?php echo h($adverb['Adverb']['id']); ?>&nbsp;</td>
		<td><?php echo h($adverb['Adverb']['adverb']); ?>&nbsp;</td>
		<td><?php echo h($adverb['Adverb']['comments']); ?>&nbsp;</td>
		<td><?php echo h($adverb['Adverb']['meaning']); ?>&nbsp;</td>
		<td><?php echo h($adverb['Adverb']['examples']); ?>&nbsp;</td>
		<td><?php echo h($adverb['Adverb']['created']); ?>&nbsp;</td>
		<td><?php echo h($adverb['Adverb']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $adverb['Adverb']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $adverb['Adverb']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $adverb['Adverb']['id']), null, __('Are you sure you want to delete # %s?', $adverb['Adverb']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Adverb'), array('action' => 'add')); ?></li>
	</ul>
</div>
