<div class="adverbs view">
<h2><?php  echo __('Adverb'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Adverb'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['adverb']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Comments'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['comments']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Meaning'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['meaning']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Examples'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['examples']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($adverb['Adverb']['modified']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Adverb'), array('action' => 'edit', $adverb['Adverb']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Adverb'), array('action' => 'delete', $adverb['Adverb']['id']), null, __('Are you sure you want to delete # %s?', $adverb['Adverb']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('List Adverbs'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Adverb'), array('action' => 'add')); ?> </li>
	</ul>
</div>
